<div class="container">
    <!-- heading with content -->
    <div class="row">
        <div class="col">
            <h1 class="text-warning text-center m-4">Update Your Contact</h1>
            <p style="text-align:justify">Contact management is the process of organizing and managing details about customers, leads, and prospects. Think of it as a cloud-based address book filled with contact information.

                Some businesses rely on convoluted spreadsheets for their contact management needs. While this system might work for small startups, large companies will likely struggle to keep up with all their customer information using spreadsheets alone.
                
                Enter: contact management systems. They're invaluable for teams that conduct external communication. With these tools, businesses can automate the collection, storage, and management of contact data.</p>
        </div>
    </div>
    <!-- <pre>
        {{contact|json}}
    </pre> -->
    <!-- <pre>
        {{groups|json}}
    </pre> -->
    <!-- form and image -->
    <div class="container">
        <div class="row">
            <!-- form -->
            <div class="col-6">
                <form class="border border-2 p-5 rounded-5">
                    <input [(ngModel)]="contact.name" name="contactname" type="text" placeholder="Enter Contact Name" class="form-control mb-2">
                    <input [(ngModel)]="contact.photo" name="contactphoto" type="text" placeholder="Enter Contact Photo URL" class="form-control mb-2">
                    <input [(ngModel)]="contact.email" name="contactemail" type="text" placeholder="Enter Contact Email" class="form-control mb-2">
                    <input [(ngModel)]="contact.phone" name="contactphone" type="text" placeholder="Enter Contact Mobile Number" class="form-control mb-2">
                    <input [(ngModel)]="contact.company" name="contactcompany" type="text" placeholder="Enter Contact Company Name" class="form-control mb-2">
                    <input [(ngModel)]="contact.titles" name="contacttitle" type="text" placeholder="Enter Contact Title" class="form-control mb-2">
                    <select class="form-control mb-2"[(ngModel)]="contact.groupId" type="submit" name="groupid">
                        <option value=""selected hidden disabled>Select</option>
                        <option value={{group.id}} *ngFor="let group of groups">{{group.name}}</option>
                    </select>
                    <input type="submit" (click)="updateContact()" value="Update" class="btn btn-success">
                    <a routerLink="/" class="btn btn-danger mt-1" style="float: right;">Close</a>
                </form>
            </div>
            <!-- image -->
            <div class="col-4">
                <img class="img-icon " [src]="contact.photo" alt="">
            </div>
        </div>
    </div>
</div>